<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/app-layout/app-layout.html">
<link rel="import" href="../../bower_components/iron-image/iron-image.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-styles/color.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="whose-flag-app">
  <template>
    <style>
      :host {
        display: block;
        font-family: Roboto, Noto, sans-serif;
      }

      paper-button {
        color: white;
      }

      paper-button.another {
        background: var(--paper-blue-500);
        width: 100%;
      }

      paper-button.another:hover {
        background: var(--paper-light-blue-500);
      }

      paper-button.answer {
        background: var(--paper-purple-500);
        flex-grow: 1;
      }

      paper-button.answer:hover {
        background: var(--paper-pink-500);
      }

      app-toolbar {
        background-color: var(--paper-blue-500);
        color: white;
        margin: 20px 0;
      }

      iron-image {
        border: solid;
        width: 100%;
        --iron-image-width: 100%;
        background-color: white;
      }

      #flag-image-container {
        max-width: 600px;
        width: 100%;
        margin: 0 auto;
      }

      #answer-button-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
      }
    </style>
    <app-header>
      <app-toolbar>
        <div main-title>Diversión con banderas</div>
      </app-toolbar>
    </app-header>

    <iron-ajax auto url="data/countrycodes.json" handle-as="json" on-response="_handleResponse">
    </iron-ajax>

    <div id="flag-image-container">
      <iron-image id="flag-image" preload fade src="data/svg/[[correctAnswer.code]].svg">
      </iron-image>

      <div id="answer-button-container">
        <paper-button id="optionA" class="answer" on-click="_selectAnswer" raised>[[countryA.name]]</paper-button>
        <paper-button id="optionB" class="answer" on-click="_selectAnswer" raised>[[countryB.name]]</paper-button>
      </div>

      <p>[[outputMessage]]</p>

      <paper-button class="another" id="another" on-click="_restart" raised>Otra !</paper-button>
    </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class WhoseFlagApp extends Polymer.Element {
      static get is() {
        return 'whose-flag-app';
      }
      static get properties() {
        return {
          countryA: {
            type: Object
          },
          countryB: {
            type: Object
          },
          outputMessage: {
            type: String,
            value: ""
          },
          correctAnswer: {
            type: Object
          },
          userAnswer: {
            type: String
          },
          countryList: {
            type: Object
          }
        };
      }

      _selectAnswer(event) {
        let clickedButton = event.target;
        this.userAnswer = clickedButton.textContent;
        if (this.userAnswer == this.correctAnswer.name) {
          this.outputMessage = `${this.userAnswer} es correcto !!`;
        } else {
          this.outputMessage = `No carnal, la respuesta es: ${this.correctAnswer.name}`;
        }
      }
      _handleResponse(event) {
        this.countryList = event.detail.response.countrycodes;
        while (!this.countryA || !this.countryB || (this.countryA.code == this.countryB.code)) {
          this.countryA = this.countryList[this.__getRandomCountry()];
          this.countryB = this.countryList[this.__getRandomCountry()];
        }

        this.correctAnswer = this.countryA;
        let coin = (Math.floor(Math.random() * 2));
        this.correctAnswer = coin == 1 ? this.countryA:this.countryB;
      }

      __getRandomCountry() {
        return Math.floor(Math.random() * (this.countryList.length));
      }

      _restart(){
        window.location.reload();
      }
    }

    window.customElements.define(WhoseFlagApp.is, WhoseFlagApp);
  </script>
</dom-module>